<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
    <label for="name">Enter your name:</label>
    <br>
    <input type="text" name="name" id="name">
    <br>

    <label for="email">Enter your e-mail:</label>
    <br>
    <input type="email" name="email" id="email">
    <br>

    <label for="password">Enter your password:</label>
    <br>
    <input type="password" name="password" id="password">
    <br>
    <br>
    <input type="submit">
</form>

